/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #4a4a4a;
	font-weight: 900;
}

h2,
h3 {
	margin-top: 1em;
	margin-bottom: .1em;
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
.main-nav {
		padding-top: .5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */

.wrapper {
	margin: 0 auto;
	text-align: center;
	background-color: #fafafa;
}

.portfolio {
	background-color: #fff;
}

.main-nav li {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #fff;
	padding: .5em;
	margin: .3em;
	letter-spacing: .1em;
}

.main-header h1 {
	font-size: 1.4em;
	font-weight: bold;
}

.header {
	background-color: #fafafa;
}
	
.banner p,
.contact p {
	font-size: 1.2em;
	
}
.banner {
	margin: 2.5em 1em 0; 
	padding-right: 1.5em;
	padding-left: 1.5em;
}
	
.banner-pic {
	width: 75%;
}
    
h2:first-child,
h2:last-child{
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 10px;
}
	

/* ---- Main Content ---- */	
.page {
	padding-right: 2em;
	padding-left: 2em;

}
.page h2 {
	font-size: 1.3em;
	font-weight: normal;
	letter-spacing: .1em;
	margin-top: 2em;
	margin-bottom: .5em;	
}
.page p {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 3em;
}
		
.portfolio-image:first-child {
		margin-top: 1em;
}

/* ---- Contact ---- */	

.contact {
	padding: 2em 1.5em 2em;
}

	
/* ---- Footer ---- */	
	
.main-footer {
	border-top: 1px solid lightgray;
	padding-top: 1em;
	margin-right: 1.5em;
	margin-left: 1.5em;

}
.left,
.right {
	font-size: 1em;
	font-weight: 900;
	
}
.left {
	display: inline-block;
	float: left;
	
}
.right {
	display: inline-block;
	float: right;
	text-transform: uppercase;
}

.nav-bottom {
	display: none;
}


/* ---- clearfix ---- */

    .clearfix::after {
      content: "";
      display: table;
      clear: both;
	}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px){

/* ---- Header ---- */	

	.main-nav li {
		background-color: #fafafa;
	}
	.banner {
		clear: both;
		padding: 20px;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 0;
		font-size: 1.1em;
		text-align: left;
	}
	.banner-pic {
		width: 40%;
		float: right;
		padding-left: 10px;
	}
	
	.portfolio-image {
		margin-top: 0;
	}
	.page {
		display: inline-block;
		width: 45%;
		padding: 5px;
		margin: 0 auto;
		font-size: 1.1em;
	}
	.contact {
		clear: both;
	}
	
	.page h2 {
		margin-top: 10px;
	}

	
/* ---- Contact ---- */	

	.contact {
		margin-right: 5%;
		margin-left: 5%;
		padding-right: 50px;
		padding-left: 50px;

	}
	.contact p {
		font-size: 1.3em;
	}

/* ---- Footer ---- */	

	.nav-bottom {
		display: inline-block;
		float: right;
		text-transform: uppercase;
	}
	.nav-bottom li {
		font-size: 1.1em;
		float: right;
		padding-left: 20px;
		margin-top: 10px;
	}
	
	.right {
		display: none;
		padding: 0;
	}
	
	.left {
		font-size: 1.1em;
		float: left;
		padding: 0;
		margin-top: 10px;

	}
	.main-footer {
		margin-left: 5%;
		margin-right: 5%;		
	}
}	

@media screen and (min-width: 1025px) {

/* ---- Header ---- */
	
	.header, .main-footer, .portfolio {
		max-width: 1600px;
		vertical-align: center;
		margin: 0 auto;
	}
	.banner {
		font-size: 1.2em;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
		margin-bottom: 20px;
		padding-bottom: 40px;
	}
	.banner-pic {
		width: 40%;
		float: right;
		padding-left: 20px;
	}
	
	
/* ---- main ---- */		
	
	.portfolio-image {
		margin-top: 0;
	}
	.page {
		width: 33%;
		padding: 5px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.page h2 {
		margin-top: 10px;
	}
	
	.page p {
		font-size: 1em;
	}

/* ---- Contact ---- */		

	.contact {
		padding: 10px 30% 50px;
		background-color: #fafafa;
	}
	.contact p {
		font-size: 1.2em;
		margin-bottom: 10px;
	}

/* ---- Footer ---- */		
	.nav-bottom {
		display: inline-block;
		float: right;
		text-transform: uppercase;
		font-size: 1em;
	}
	.nav-bottom li {
		float: left;
		padding-left: 30px;
		letter-spacing: .1em;
	}
	
	.right {
		display: none;
	}
	.left {
		font-size: 1em;
		float: left;
		letter-spacing: .1em;
	}
	
	.main-footer {
		margin-left: 0 5%;
		padding: 0;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		vertical-align: center;
	}
}
