/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #4a4a4a;
	font-weight: 900;
}

h2,
h3 {
	margin-top: 1em;
	margin-bottom: .1em;
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
.main-nav {
		padding-top: .5em;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */

.wrapper {
	margin: 0 auto;
	text-align: center;
}

.main-nav li {
	text-transform: uppercase;
	background-color: #fff;
	padding: .4em;
	margin: .3em;
}

.main-header h1 {
	font-size: 1.2em;
	font-weight: 900;
}

.header {
	background-color: #fafafa;
	padding-top: .5em;
	padding-bottom: 0em;
	margin-top: 0px;
}
	
.banner p {
	font-size: .95em;
}
.banner {
	margin: 2.5em 1em 0em; 
}
	
.banner-pic {
	width: 75%;
}
    
.main-header h2, a {
	font-size: 1em;
	padding-top: 15px;
	text-align: center;
	letter-spacing: .05em;
}
	
.main-nav a {
	font-size: .8em;
}
	
.solo {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .1em;
}

/* ---- Main Content ---- */	
.page {
	padding-right: 1em;
	padding-left: 1em;
}
.page h2 {
	font-size: 1em;
	margin-top: 2em;
	margin-bottom: .5em;
	letter-spacing: .05em;
}
.page p {
	font-size: .95em;
	margin-top: 0em;
	margin-bottom: 3em;
}
		
.portfolio-image1 {
		margin-top: 1em;
}

/* ---- Contact ---- */	

.contact {
	background-color: #fafafa;
	padding-top: .2em;
	padding-bottom: 2em;
	padding-left: .5em;
	padding-right: .5em;
}
.contact p {
	font-size: .95em;
	margin-bottom: .2em;
}
	
/* ---- Footer ---- */	
	
.main-footer {
	background-color: #fafafa;
	border-top: 1px solid lightgray;
	margin: 0em .5em;
	height: 4em;
}
.left,
.right {
	font-size: .8em;
	padding-left: 0;
	padding-right: .0;
	padding-top: 0em;
}
.left {
	display: inline-block;
	float: left;
	font-size: .8em;
	font-weight: 900;
}
.right {
	display: inline-block;
	float: right;
	text-transform: uppercase;
}
.container {
	background-color: #fafafa;
}
.nav-bottom {
	display: none;
}
li.selected {
	background-color: #fafafa;
}

/* ---- clearfix ---- */

    .clearfix::after {
      content: "";
      display: table;
      clear: both;
	}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px){

/* ---- Header ---- */	

	.header {
		background-color: #fff;
	}
	.main-header {
		vertical-align: center;
		width: 100%;
	} 
	.main-nav {
		margin-top: -10px;
	}
	.main-nav li {
		font-size: 1.2em;
		display: inline-block;
		text-align: center;
		padding-left: 20px;
	}
	
	.banner {
		clear: both;
		padding: 20px;
		padding-bottom: 0px;
		padding-top: 0px;
		margin-bottom: 0px;
		font-size: 1.2em;
		text-align: left;
	}
	.banner-pic {
		width: 40%;
		float: right;
		padding-left: 10px;
	}
	
	.portfolio-image1, .portfolio-image {
		margin-top: 0px;
	}
	.page {
		display: inline-block;
		width: 45%;
		padding: 5px;
		margin: 0 auto;
		font-size: 1.2em;
	}
	.contact {
		clear: both;
	}
	
	.page h2 {
		margin-top: 10px;
	}
	
	.page p {
		font-size: .8em;
	}
	

	
/* ---- Contact ---- */	

	.contact {
		clear: both;
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
		margin: 0 auto;
		padding-right: 50px;
		padding-left: 50px;

	}
	.contact p {
		font-size: 1em;
	}

/* ---- Footer ---- */	

	.nav-bottom {
		display: inline-block;
		float: right;
		text-transform: uppercase;
		font-size: .6em;
	}
	.nav-bottom li {
		font-size: 1.2em;
		float: right;
		padding-left: 20px;
		margin-top: 10px;
	}
	
	.right {
		display: none;
		padding: 0px;
	}
	
	.left {
		font-size: .9em;
		float: left;
		padding: 0px;
		margin-top: 10px;

	}
	.main-footer {
		margin-left: 5%;
		margin-right: 5%;		
	}
}	

@media screen and (min-width: 1024px) {

/* ---- Header ---- */
	.main-header {
		width: 100%;
	}
	.main-nav li {
		float: left;
		background-color: #fafafa;
	}
	.main-nav {
		float: right;
		margin-top: 0px;
	}
	.name {
		float: left;
		padding-left: 1.5em;
	}

	.header {
		background-color: #fafafa;
	}
	.header, .main-footer, .portfolio {
		max-width: 1000px;
		vertical-align: center;
		margin: 0 auto;
	}
	.banner {
		font-size: 1.2em;
		padding-right: 0px;
		padding-left: 0px;
		text-align: left;
	}
	.banner-pic {
		width: 40%;
		float: right;
		padding-left: 20px;
	}
	
	.solo {
		font-size: 1em;
	}
	
/* ---- main ---- */		
	
	.portfolio-image1, .portfolio-image {
		margin-top: 0px;
	}
	.page {
		width: 33%;
		padding: 5px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.contact {
		clear: both;
	}
	
	.page h2 {
		margin-top: 10px;
	}
	
	.page p {
		font-size: .8em;
	}

/* ---- Contact ---- */		

	.contact {
		padding: 10px 20% 50px;
		background-color: #fafafa;
	}
	.contact p {
		font-size: 1.2em;
		margin-bottom: 10px;
	}

/* ---- Footer ---- */		
	.nav-bottom {
		display: inline-block;
		float: right;
		text-transform: uppercase;
		font-size: .8em;
	}
	.nav-bottom li {
		float: left;
		padding-left: 30px;
	}
	
	.right {
		display: none;
		padding-top: 5px;
	}
	.left {
		font-size: 1em;
		float: left;
		letter-spacing: .1em;
	}
	
	.main-footer {
		margin-left: 0 5%;
		padding: 0px;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		vertical-align: center;
	}
}
